body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;

    width: 70vw;
    margin: 100px auto;
}

.card {
    padding: 10px;
    background-color: lightgray;
    border-radius: 20px;

    font-size: 72px;
    font-weight: bold;
    cursor: pointer;
}

.selected {
    background-color: lightblue;
}

.card.paired {
    background-color: orange;
}

.card div {
    opacity: 0;
    transition: opacity 300ms;
}

:is(.selected, .paired) div{
    opacity: 1;
}